# Import

In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
seed=2023

# Load Data

In [5]:
df = pd.read_csv('data/train.csv')
test_df = pd.read_csv('data/test.csv')

In [6]:
df.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

# 0, NaN 피처 어떻게 처리할까?

### SibSp : 0이 68.1%

In [14]:
df.groupby(by='SibSp').count()[['PassengerId']]

       PassengerId
SibSp
0              608
1              209
2               28
3               16
4               18
5                5
8                7

### Parch 0이 76.5%

In [15]:
df.groupby(by='Parch').count()[['PassengerId']]

       PassengerId
Parch
0              678
1              118
2               80
3                5
4                4
5                5
6                1

### Ticket : 종류가 매우 많음

In [16]:
df.groupby(by='Ticket').count()[['PassengerId']] # categorical로 규정될 수 없음

             PassengerId
Ticket
110152                 3
110413                 3
110465                 2
110564                 1
110813                 1
...                  ...
W./C. 6608             4
W./C. 6609             1
W.E.P. 5734            1
W/C 14208              1
WE/P 5735              2

[681 rows x 1 columns]

In [18]:
set(df['Ticket']) # 그냥 숫자와 문자가 붙은 경우로 구분됨

{'110152',
 '110413',
 '110465',
 '110564',
 '110813',
 '111240',
 '111320',
 '111361',
 '111369',
 '111426',
 '111427',
 '111428',
 '112050',
 '112052',
 '112053',
 '112058',
 '112059',
 '112277',
 '112379',
 '113028',
 '113043',
 '113050',
 '113051',
 '113055',
 '113056',
 '113059',
 '113501',
 '113503',
 '113505',
 '113509',
 '113510',
 '113514',
 '113572',
 '113760',
 '113767',
 '113773',
 '113776',
 '113781',
 '113783',
 '113784',
 '113786',
 '113787',
 '113788',
 '113789',
 '113792',
 '113794',
 '113796',
 '113798',
 '113800',
 '113803',
 '113804',
 '113806',
 '113807',
 '11668',
 '11751',
 '11752',
 '11753',
 '11755',
 '11765',
 '11767',
 '11769',
 '11771',
 '11774',
 '11813',
 '11967',
 '12233',
 '12460',
 '12749',
 '13049',
 '13213',
 '13214',
 '13502',
 '13507',
 '13509',
 '13567',
 '13568',
 '14311',
 '14312',
 '14313',
 '14973',
 '1601',
 '16966',
 '16988',
 '17421',
 '17453',
 '17463',
 '17464',
 '17465',
 '17466',
 '17474',
 '17764',
 '19877',
 '19928',
 '19943',
 '19947',
 '19950',
 '19952',
 '19972',
 '19988',
 '19996',
 '2003',
 '211536',
 '21440',
 '218629',
 '219533',
 '220367',
 '220845',
 '2223',
 '223596',
 '226593',
 '226875',
 '228414',
 '229236',
 '230080',
 '230136',
 '230433',
 '230434',
 '231919',
 '231945',
 '233639',
 '233866',
 '234360',
 '234604',
 '234686',
 '234818',
 '236171',
 '236852',
 '236853',
 '237442',
 '237565',
 '237668',
 '237671',
 '237736',
 '237789',
 '237798',
 '239853',
 '239854',
 '239855',
 '239856',
 '239865',
 '240929',
 '24160',
 '243847',
 '243880',
 '244252',
 '244270',
 '244278',
 '244310',
 '244358',
 '244361',
 '244367',
 '244373',
 '248698',
 '248706',
 '248723',
 '248727',
 '248731',
 '248733',
 '248738',
 '248740',
 '248747',
 '250643',
 '250644',
 '250646',
 '250647',
 '250648',
 '250649',
 '250651',
 '250652',
 '250653',
 '250655',
 '2620',
 '2623',
 '2624',
 '2625',
 '2626',
 '2627',
 '2628',
 '2629',
 '2631',
 '26360',
 '2641',
 '2647',
 '2648',
 '2649',
 '2650',
 '2651',
 '2653',
 '2659',
 '2661',
 '2662',
 '2663',
 '2664',
 '2665',
 '2666',
 '2667',
 '2668',
 '2669',
 '26707',
 '2671',
 '2672',
 '2674',
 '2677',
 '2678',
 '2680',
 '2683',
 '2685',
 '2686',
 '2687',
 '2689',
 '2690',
 '2691',
 '2693',
 '2694',
 '2695',
 '2697',
 '2699',
 '2700',
 '27042',
 '27267',
 '27849',
 '28134',
 '28206',
 '28213',
 '28220',
 '28228',
 '28403',
 '28424',
 '28425',
 '28551',
 '28664',
 '28665',
 '29011',
 '2908',
 '29103',
 '29104',
 '29105',
 '29106',
 '29108',
 '2926',
 '29750',
 '29751',
 '3101264',
 '3101265',
 '3101267',
 '3101276',
 '3101277',
 '3101278',
 '3101281',
 '3101295',
 '3101296',
 '3101298',
 '31027',
 '31028',
 '312991',
 '312992',
 '312993',
 '31418',
 '315037',
 '315082',
 '315084',
 '315086',
 '315088',
 '315089',
 '315090',
 '315093',
 '315094',
 '315096',
 '315097',
 '315098',
 '315151',
 '315153',
 '323592',
 '323951',
 '324669',
 '330877',
 '330909',
 '330919',
 '330923',
 '330931',
 '330932',
 '330935',
 '330958',
 '330959',
 '330979',
 '330980',
 '334912',
 '335097',
 '335677',
 '33638',
 '336439',
 '3411',
 '341826',
 '34218',
 '342826',
 '343095',
 '343120',
 '343275',
 '343276',
 '345364',
 '345572',
 '345763',
 '345764',
 '345765',
 '345767',
 '345769',
 '345770',
 '345773',
 '345774',
 '345777',
 '345778',
 '345779',
 '345780',
 '345781',
 '345783',
 '3460',
 '347054',
 '347060',
 '347061',
 '347062',
 '347063',
 '347064',
 '347067',
 '347068',
 '347069',
 '347071',
 '347073',
 '347074',
 '347076',
 '347077',
 '347078',
 '347080',
 '347081',
 '347082',
 '347083',
 '347085',
 '347087',
 '347088',
 '347089',
 '3474',
 '347464',
 '347466',
 '347468',
 '347470',
 '347742',
 '347743',
 '348121',
 '348123',
 '348124',
 '349201',
 '349203',
 '349204',
 '349205',
 '349206',
 '349207',
 '349208',
 '349209',
 '349210',
 '349212',
 '349213',
 '349214',
 '349215',
 '349216',
 '349217',
 '349218',
 '349219',
 '349221',
 '349222',
 '349223',
 '349224',
 '349225',
 '349227',
 '349228',
 '349231',
 '349233',
 '349234',
 '349236',
 '349237',
 '349239',
 '349240',
 '349241',
 '349242',
 '349243',
 '349244',
 '349245',
 '349246',
 '349247',
 '349248',
 '349249',
 '349251',
 '349252',
 '349253',
 '349254',
 '349256',
 '349257',
 '349909',
 '349910',
 '349912',
 '350025',
 '350026',
 '350029',
 '350034',
 '350035',
 '350036',
 '350042',
 '350043',
 '350046',
 '350047',
 '350048',
 '350050',
 '350052',
 '350060',
 '350404',
 '350406',
 '350407',
 '350417',
 '35273',
 '35281',
 '35851',
 '35852',
 '358585',
 '36209',
 '362316',
 '363291',
 '363294',
 '363592',
 '364498',
 '364499',
 '364500',
 '364506',
 '364511',
 '364512',
 '364516',
 '364846',
 '364848',
 '364849',
 '364850',
 '364851',
 '365222',
 '365226',
 '36568',
 '367226',
 '367228',
 '367229',
 '367230',
 '367231',
 '367232',
 '367655',
 '368323',
 '36864',
 '36865',
 '36866',
 '368703',
 '36928',
 '36947',
 '36963',
 '36967',
 '36973',
 '370129',
 '370365',
 '370369',
 '370370',
 '370371',
 '370372',
 '370373',
 '370375',
 '370376',
 '370377',
 '371060',
 '371110',
 '371362',
 '372622',
 '373450',
 '374746',
 '374887',
 '374910',
 '376564',
 '376566',
 '382649',
 '382651',
 '382652',
 '383121',
 '384461',
 '386525',
 '392091',
 '392092',
 '392096',
 '394140',
 '4133',
 '4134',
 '4135',
 '4136',
 '4137',
 '4138',
 '4579',
 '54636',
 '5727',
 '65303',
 '65304',
 '65306',
 '6563',
 '693',
 '695',
 '7267',
 '7534',
 '7540',
 '7545',
 '7546',
 '7552',
 '7553',
 '7598',
 '8471',
 '8475',
 '9234',
 'A./5. 2152',
 'A./5. 3235',
 'A.5. 11206',
 'A.5. 18509',
 'A/4 45380',
 'A/4 48871',
 'A/4. 20589',
 'A/4. 34244',
 'A/4. 39886',
 'A/5 21171',
 'A/5 21172',
 'A/5 21173',
 'A/5 21174',
 'A/5 2466',
 'A/5 2817',
 'A/5 3536',
 'A/5 3540',
 'A/5 3594',
 'A/5 3902',
 'A/5. 10482',
 'A/5. 13032',
 'A/5. 2151',
 'A/5. 3336',
 'A/5. 3337',
 'A/5. 851',
 'A/S 2816',
 'A4. 54510',
 'C 17369',
 'C 4001',
 'C 7075',
 'C 7076',
 'C 7077',
 'C.A. 17248',
 'C.A. 18723',
 'C.A. 2315',
 'C.A. 24579',
 'C.A. 24580',
 'C.A. 2673',
 'C.A. 29178',
 'C.A. 29395',
 'C.A. 29566',
 'C.A. 31026',
 'C.A. 31921',
 'C.A. 33111',
 'C.A. 33112',
 'C.A. 33595',
 'C.A. 34260',
 'C.A. 34651',
 'C.A. 37671',
 'C.A. 5547',
 'C.A. 6212',
 'C.A./SOTON 34068',
 'CA 2144',
 'CA. 2314',
 'CA. 2343',
 'F.C. 12750',
 'F.C.C. 13528',
 'F.C.C. 13529',
 'F.C.C. 13531',
 'Fa 265302',
 'LINE',
 'P/PP 3381',
 'PC 17318',
 'PC 17473',
 'PC 17474',
 'PC 17475',
 'PC 17476',
 'PC 17477',
 'PC 17482',
 'PC 17483',
 'PC 17485',
 'PC 17558',
 'PC 17569',
 'PC 17572',
 'PC 17582',
 'PC 17585',
 'PC 17590',
 'PC 17592',
 'PC 17593',
 'PC 17595',
 'PC 17596',
 'PC 17597',
 'PC 17599',
 'PC 17600',
 'PC 17601',
 'PC 17603',
 'PC 17604',
 'PC 17605',
 'PC 17608',
 'PC 17609',
 'PC 17610',
 'PC 17611',
 'PC 17612',
 'PC 17754',
 'PC 17755',
 'PC 17756',
 'PC 17757',
 'PC 17758',
 'PC 17759',
 'PC 17760',
 'PC 17761',
 'PP 4348',
 'PP 9549',
 'S.C./A.4. 23567',
 'S.C./PARIS 2079',
 'S.O./P.P. 3',
 'S.O./P.P. 751',
 'S.O.C. 14879',
 'S.O.P. 1166',
 'S.P. 3464',
 'S.W./PP 752',
 'SC 1748',
 'SC/AH 29037',
 'SC/AH 3085',
 'SC/AH Basle 541',
 'SC/PARIS 2131',
 'SC/PARIS 2133',
 'SC/PARIS 2146',
 'SC/PARIS 2149',
 'SC/PARIS 2167',
 'SC/Paris 2123',
 'SC/Paris 2163',
 'SCO/W 1585',
 'SO/C 14885',
 'SOTON/O.Q. 3101305',
 'SOTON/O.Q. 3101306',
 'SOTON/O.Q. 3101307',
 'SOTON/O.Q. 3101310',
 'SOTON/O.Q. 3101311',
 'SOTON/O.Q. 3101312',
 'SOTON/O.Q. 392078',
 'SOTON/O.Q. 392087',
 'SOTON/O2 3101272',
 'SOTON/O2 3101287',
 'SOTON/OQ 3101316',
 'SOTON/OQ 3101317',
 'SOTON/OQ 392076',
 'SOTON/OQ 392082',
 'SOTON/OQ 392086',
 'SOTON/OQ 392089',
 'SOTON/OQ 392090',
 'STON/O 2. 3101269',
 'STON/O 2. 3101273',
 'STON/O 2. 3101274',
 'STON/O 2. 3101275',
 'STON/O 2. 3101280',
 'STON/O 2. 3101285',
 'STON/O 2. 3101286',
 'STON/O 2. 3101288',
 'STON/O 2. 3101289',
 'STON/O 2. 3101292',
 'STON/O 2. 3101293',
 'STON/O 2. 3101294',
 'STON/O2. 3101271',
 'STON/O2. 3101279',
 'STON/O2. 3101282',
 'STON/O2. 3101283',
 'STON/O2. 3101290',
 'SW/PP 751',
 'W./C. 14258',
 'W./C. 14263',
 'W./C. 6607',
 'W./C. 6608',
 'W./C. 6609',
 'W.E.P. 5734',
 'W/C 14208',
 'WE/P 5735'}

In [36]:
tickets = {}
tickets['just_number'] = 0

for ticket in list(df['Ticket']) + list(test_df['Ticket']):
    try:
        int(ticket.strip())
        tickets['just_number'] += 1
            
    except Exception:
        key = ticket.split(' ')[0]
        if key in tickets:
            tickets[key] += 1
        else:
            tickets[key] = 1
        
sorted(tickets.items())
# 이 버전, 맨 앞 글자만 있는 버전 등 다양하게 실험해볼 수 있을 듯

[('A.', 1),
 ('A./5.', 3),
 ('A.5.', 3),
 ('A/4', 6),
 ('A/4.', 3),
 ('A/5', 12),
 ('A/5.', 10),
 ('A/S', 1),
 ('A4.', 1),
 ('AQ/3.', 1),
 ('AQ/4', 1),
 ('C', 8),
 ('C.A.', 46),
 ('C.A./SOTON', 1),
 ('CA', 10),
 ('CA.', 12),
 ('F.C.', 3),
 ('F.C.C.', 9),
 ('Fa', 1),
 ('LINE', 4),
 ('LP', 1),
 ('P/PP', 2),
 ('PC', 92),
 ('PP', 4),
 ('S.C./A.4.', 1),
 ('S.C./PARIS', 3),
 ('S.O./P.P.', 7),
 ('S.O.C.', 7),
 ('S.O.P.', 1),
 ('S.P.', 1),
 ('S.W./PP', 1),
 ('SC', 2),
 ('SC/A.3', 1),
 ('SC/A4', 1),
 ('SC/AH', 5),
 ('SC/PARIS', 11),
 ('SC/Paris', 5),
 ('SCO/W', 1),
 ('SO/C', 1),
 ('SOTON/O.Q.', 16),
 ('SOTON/O2', 3),
 ('SOTON/OQ', 8),
 ('STON/O', 14),
 ('STON/O2.', 7),
 ('STON/OQ.', 1),
 ('SW/PP', 1),
 ('W./C.', 14),
 ('W.E.P.', 2),
 ('W/C', 1),
 ('WE/P', 2),
 ('just_number', 957)]

### Cabin : NaN이 19.2%, 값이 매우 다양함

In [36]:
df.groupby(by='Cabin').count()[['PassengerId']]

       PassengerId
Cabin
A10              1
A14              1
A16              1
A19              1
A20              1
...            ...
F33              3
F38              1
F4               2
G6               4
T                1

[147 rows x 1 columns]

In [39]:
cabins = {}
cabins['just_number'] = 0

for cabin in list(df['Cabin']) + list(test_df['Cabin']):
    try:
        int(cabin.strip())
        cabins['just_number'] += 1
            
    except Exception:
        if cabin != cabin:
            continue
        
        key = cabin[0]
        if key in cabins:
            cabins[key] += 1
        else:
            cabins[key] = 1
        
sorted(cabins.items())

[('A', 22),
 ('B', 65),
 ('C', 94),
 ('D', 46),
 ('E', 41),
 ('F', 21),
 ('G', 5),
 ('T', 1),
 ('just_number', 0)]

# 학습해보자
- SibSp, Parch는 일단 그대로 두고
- ticket과 cabin은 위 방법으로 카테고리를 바꿔서
- gbc, lgbm 해보자
- random 5 fold로 학습

### feature engineering

In [6]:
df['type'] = 'train'
test_df['type'] = 'test'
all_df = pd.concat([df, test_df])

In [31]:
all_df.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,type
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S,train

In [7]:
def transform_ticket(df):
    tr_tickets = []
    ticket_class = {'number': 0}
    last_num = 0
    
    for ticket in list(df['Ticket']):
        try:
            int(ticket.strip())
            tr_tickets.append(ticket_class['number'])
        except:
            if 'STON' in ticket:
                key = 'STON'
            else:
                key = ticket[0]
            if key not in ticket_class.keys():
                last_num += 1
                ticket_class[key] = last_num
            tr_tickets.append(ticket_class[key])
    
    df['tr_Ticket'] = tr_tickets
    return df, ticket_class

In [8]:
all_df, ticket_class = transform_ticket(all_df)
print(ticket_class)
all_df.head()

{'number': 0, 'A': 1, 'P': 2, 'STON': 3, 'C': 4, 'S': 5, 'W': 6, 'F': 7, 'L': 8}

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,type,tr_Ticket
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,train,1
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,train,2
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,train,3
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,train,0
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,train,0

In [9]:
def transform_cabin(df):
    tr_cabins = []
    cabin_class = {'NaN': 0}
    last_num = 0
    
    for cabin in list(df['Cabin']):
        if cabin != cabin:
            tr_cabins.append(cabin_class['NaN'])
        else:
            key = cabin[0]
            if key not in cabin_class.keys():
                last_num += 1
                cabin_class[key] = last_num
            tr_cabins.append(cabin_class[key])
    
    df['tr_Cabin'] = tr_cabins
    return df, cabin_class

In [10]:
all_df, cabin_class = transform_cabin(all_df)
print(cabin_class)
all_df.head()

{'NaN': 0, 'C': 1, 'E': 2, 'G': 3, 'D': 4, 'A': 5, 'B': 6, 'F': 7, 'T': 8}

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,type,tr_Ticket,tr_Cabin
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,train,1,0
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,train,2,1
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,train,3,0
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,train,0,1
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,train,0,0

In [11]:
all_df['tr_Sex'] = pd.Categorical(all_df['Sex']).codes
all_df['tr_Embarked'] = pd.Categorical(all_df['Embarked']).codes
all_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,type,tr_Ticket,tr_Cabin,tr_Sex,tr_Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,train,1,0,1,2
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,train,2,1,0,0
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,train,3,0,0,2
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,train,0,1,0,2
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,train,0,0,1,2

In [12]:
# NaN이 있는 Age, Fare는 일단 평균값 대치하고 나중에 처리한다.
all_df['Age'] = all_df['Age'].fillna(all_df['Age'].mean())
all_df['Fare'] = all_df['Fare'].fillna(all_df['Fare'].mean())

In [13]:
features = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'tr_Ticket', 'tr_Cabin', 'tr_Sex', 'tr_Embarked']
label = ['Survived']

In [14]:
train_df = all_df[all_df['type']=='train']
train_df['Survived'] = train_df['Survived'].astype(int)

test_df = all_df[all_df['type']=='test']
test_df = test_df.drop(columns=['Survived'])

### GBC

In [15]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score

In [16]:
gbc_model = GradientBoostingClassifier(random_state=seed)

In [17]:
gbc_fold = StratifiedKFold(n_splits=5, random_state=seed)

In [18]:
n_iter = 0
score_list = []
for train_idx, valid_idx in gbc_fold.split(train_df[features], train_df[label]):
    n_iter += 1
    
    X_train, X_valid = train_df[features].iloc[train_idx, :], train_df[features].iloc[valid_idx, :]
    y_train, y_valid = train_df[label].iloc[train_idx,:], train_df[label].iloc[valid_idx,:]
    
    gbc_model.fit(X_train, y_train)
    
    preds = gbc_model.predict(X_valid)
    score = accuracy_score(y_valid, preds)
    
    score_list.append(score)
    
    print(f'iter {n_iter} score : ', round(score, 4))
    
print('total score', round(sum(score_list)/len(score_list), 2))

iter 1 score :  0.8156
iter 2 score :  0.8146
iter 3 score :  0.8539
iter 4 score :  0.7753
iter 5 score :  0.8539
total score 0.82

In [20]:
predictions = gbc_model.predict(test_df[features])

In [22]:
submissions = pd.DataFrame({'PassengerId': test_df['PassengerId'], 'Survived': predictions})
submissions.to_csv('submission.csv', index=False)

### LGBM

In [24]:
import lightgbm as lgb
from sklearn.model_selection import train_test_split

In [26]:
X_train, X_valid, y_train, y_valid = train_test_split(train_df[features], 
                                                      train_df[label], 
                                                      test_size=0.2, 
                                                      random_state=seed)

In [28]:
lgbm_model = lgb.LGBMClassifier(random_state=seed)
lgbm_model.fit(X_train, y_train, 
        eval_set=(X_valid, y_valid),
        early_stopping_rounds=10)

[1]	valid_0's binary_logloss: 0.619132
[2]	valid_0's binary_logloss: 0.587725
[3]	valid_0's binary_logloss: 0.561511
[4]	valid_0's binary_logloss: 0.541057
[5]	valid_0's binary_logloss: 0.523913
[6]	valid_0's binary_logloss: 0.509778
[7]	valid_0's binary_logloss: 0.498971
[8]	valid_0's binary_logloss: 0.487396
[9]	valid_0's binary_logloss: 0.479098
[10]	valid_0's binary_logloss: 0.468845
[11]	valid_0's binary_logloss: 0.462668
[12]	valid_0's binary_logloss: 0.452696
[13]	valid_0's binary_logloss: 0.445107
[14]	valid_0's binary_logloss: 0.438309
[15]	valid_0's binary_logloss: 0.432328
[16]	valid_0's binary_logloss: 0.429358
[17]	valid_0's binary_logloss: 0.427486
[18]	valid_0's binary_logloss: 0.425655
[19]	valid_0's binary_logloss: 0.423954
[20]	valid_0's binary_logloss: 0.423045
[21]	valid_0's binary_logloss: 0.422747
[22]	valid_0's binary_logloss: 0.421783
[23]	valid_0's binary_logloss: 0.420251
[24]	valid_0's binary_logloss: 0.419632
[25]	valid_0's binary_logloss: 0.419551
[26]	valid_0's binary_logloss: 0.42017
[27]	valid_0's binary_logloss: 0.421348
[28]	valid_0's binary_logloss: 0.422076
[29]	valid_0's binary_logloss: 0.424505
[30]	valid_0's binary_logloss: 0.425237
[31]	valid_0's binary_logloss: 0.426582
[32]	valid_0's binary_logloss: 0.426755
[33]	valid_0's binary_logloss: 0.428586
[34]	valid_0's binary_logloss: 0.427264
[35]	valid_0's binary_logloss: 0.427295

LGBMClassifier(random_state=2023)

In [30]:
predictions = lgbm_model.predict(test_df[features], num_iteration=lgbm_model.best_iteration_)

In [31]:
submissions = pd.DataFrame({'PassengerId': test_df['PassengerId'], 'Survived': predictions})
submissions.to_csv('submission.csv', index=False)